<!-- Button trigger modal -->

<button type="button" ng-show="false" class="btn btn-sm" data-toggle="modal" id="bntModalError" data-target="#modalError">
  bnt
</button>

<!-- Modal -->
<div class="modal fade-sm" id="modalError" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title "id="myModalLabel">
          <p class="text-danger"> Error </p>
        </h4>
      </div>
      <div class="modal-body">
        {{information}}
      </div>
      <div class="modal-footer center">
        <button type="button" class="btn btn-danger btn-sm" data-dismiss="modal">OK</button>
      </div>
    </div>
  </div>
</div>