<!-- Pesquisa -->
<ng-include src="'partials/monitor/search-monitor.html'" 
  ng-controller="MonitorController" ></ng-include>


<!-- PAGINA LIST -->
<div class="row" style="margin-top:10px;">
  <div class="col-lg-1 col-md-7 col-sm-6">
     <a href="#" class="text-primary">
      <img src="img/tmp/01.jpeg" class="img-circle" 
        style="display: block; width: 60px; height:60px ">
      </a>  
  </div>
  <div class="col-lg-11 col-md-7 col-sm-6">
    <a href="#" class="text-primary">
      <strong>Fani BBB</strong>
    </a>
    - Brazil <strong>  - English Teacher </strong> Price: 20,00 / hora
    <br/>
    Há cinco anos atuo na área de Inglês e marketing da empresa FaculdadedoMomento, desenvolvendo projetos de divulgação de marca na área educacional...
  </div>        
</div>

<div class="row" style="margin-top:10px;">
  <div class="col-lg-1 col-md-7 col-sm-6">
     <a href="#" class="text-primary">
      <img src="img/tmp/02.jpeg" class="img-circle" 
        style="display: block; width: 60px; height:60px ">
      </a> 
  </div>
  <div class="col-lg-11 col-md-7 col-sm-6">
    <a href="#" class="text-primary">
      <strong>Hermione</strong>
    </a>
    - London <strong>  - English Teacher </strong> Price: 10,00 / hora
    <br/>
    Há cinco anos atuo na área de Inglês e marketing da empresa FaculdadedoMomento, desenvolvendo projetos de divulgação de marca na área educacional...
  </div>        
</div>

<div class="row" style="margin-top:10px;">
  <div class="col-lg-1 col-md-7 col-sm-6">
     <a href="#" class="text-primary">
      <img src="img/tmp/01.jpeg" class="img-circle" 
        style="display: block; width: 60px; height:60px ">
      </a> 
  </div>
  <div class="col-lg-11 col-md-7 col-sm-6">
    <a href="#" class="text-primary">
      <strong>Fani BBB</strong>
    </a>
    - London <strong>  - English Teacher </strong> Price: 10,00 / hora
    <br/>
    Há cinco anos atuo na área de Inglês e marketing da empresa FaculdadedoMomento, desenvolvendo projetos de divulgação de marca na área educacional...
  </div>        
</div>

<!-- FIM PAGINA SEARCH -->    